.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; /* Align the filter section to the left */
    margin-bottom: 20px; /* Space between the filter section and the thread list */
    gap: 10px;
    color: black;
  }
  
  .bttn-filter {
    background-color: darkblue; /* Purple background */
    color: white; /* Text color */
    text-align: center;
    border: none;
    height: 55px;
    padding: 20px;
    margin-right: 10px; /* Space between the buttons */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition for background color on hover */
  }
  
  .bttn-filter:hover {
    background-color: lightpink;
    color: black;
  }
  
  .bttn-filter:focus {
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 0 3px purple; /* Custom focus style with a purple glow */
  }
  