form {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: lightgrey;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 700px;
}

input, textarea {
    margin-top: 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Arial', sans-serif;
}


/* Input fields and textareas */
.text-box-short{
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
    transition: border-color 0.3s ease-in-out;
}

.text-box-big{
    width: 100%;
    height: 120px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
    transition: border-color 0.3s ease-in-out;
}

label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-family: 'Arial', sans-serif;
}

textarea {
    border-radius: 8px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 20px;
    font-family: inherit;
}
/* Submit button */
input[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: #1a1a1a;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #646cff;
    transform: scale(1.05);
}

input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(100, 102, 255, 0.5);
}


.deleteButton {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #870404;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
    margin-bottom: 50px;
}

.deleteButton:hover {
    background-color: lightcoral;
    transform: scale(1.05) translateY(-1px); 
}